.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header{
    background-image: url(../assets/Hero-bg.png);
    padding-bottom: 10px;
    margin: 0px;
}
nav{
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color: rgba(78, 71, 255, 1);
    font-size: 35px;
    font-weight: 900;
}
.btn-primary{
    color: white;
    font-weight: 600;
    background-color: rgba(78, 71, 255, 1);
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
}
.banner{
    text-align: center;
    margin: 100px 0px;
}
.banner-header{
    font-size: 60px;
    font-family: 900;
}
.main-container{
    margin: 0px;
    background-color: aliceblue;
}
.action-section{
    margin: 0px auto;
    width: 85%;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-header{
    font-size: 35px;
}
.text-para{
    color: gray;
}
.action-img{
    border: none;
    border-radius: 50px;
}