.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color: rgba(78, 71, 255, 1);
    font-size: 35px;
    font-weight: 900;
}
.btn-primary{
    color: white;
    background-color: rgba(78, 71, 255, 1);
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
}