/* Font family */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Header */

header{
    background-image: url(../assets/Hero-bg.png);
    padding-bottom: 10px;
    margin: 0px;
}

/* Navbar */

nav{
    width: 85%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color: rgba(78, 71, 255, 1);
    font-size: 35px;
    font-weight: 900;
}
.btn-primary{
    color: white;
    font-weight: 600;
    background-color: rgba(78, 71, 255, 1);
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
}

/* Banner */

.banner{
    text-align: center;
    margin: 100px 0px;
}
.banner-header{
    font-size: 60px;
    font-family: 900;
}

/* Main Section */

.main-container{
    margin: 0px;
    background-color: aliceblue;
    padding-bottom: 70px;
}

/* Action Section */

.action-section{
    margin: 0px auto;
    width: 85%;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-header{
    font-size: 35px;
}
.text-para{
    color: gray;
}
.action-img{
    border: none;
    border-radius: 50px;
}

/* Productive Users Section */

.productive-section{
    margin: 0px auto;
    width: 85%;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 0px;
    text-align: center;
    border: none;
    border-radius: 50px;
}
.productive-container{
    display: flex;
    justify-content: space-evenly;
}
.productive-header{
    font-size: 70px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
    margin: 0px auto;
}
.productive-para{
    margin-top: 0px;
}

/* Feedback Section */

.feedback-section{
    width: 85%;
    margin: 100px auto;
}
.feedback-header{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin: 0px;
}
.feedback-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 70px;
}
.feedback-contain{
    background-color: white;
    padding: 20px 40px 20px 20px;
    border: none;
    border-radius: 20px;
}
.review-content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.review-img{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
}
.review-name{
    margin-bottom: 0px;
    color: gray;
    font-weight: bold;
}
.date{
    margin-top: 0px;
    color: darkgray;
}

/* Ready to focus section */

.focus-container{
    text-align: center;
}
.focus-contain{
    width: 85%;
    margin: 0px auto;
    background-color: white;
    padding: 40px 0px;
    border: none;
    border-radius: 30px;
}
.focus-img{
    margin-top: 20px;
    border: none;
    border-radius: 30px;
}

/* Let’s Get In Touch Section */

.touch-section{
    width: 85%;
    margin: 100px auto 0px auto;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
}
.touch-header{
    font-size: 70px;
    font-weight: 700;
}

.touch-label{
    display: block;
    font-weight: bold;
    margin: 10px;
}
.touch-input{
    padding: 20px 300px 20px 20px;
    border-radius: 10px;
    font-size: 15px;
    margin: 5px;
    border: none;
}
.touch-input2{
    border-radius: 10px;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
    margin: 5px;
    border: none;
}
.touch-btn{
    color: white;
    font-weight: 600;
    background-color: rgba(78, 71, 255, 1);
    margin: 15px;
    padding: 20px 200px;
    border: none;
    border-radius: 10px;
}